# Python
__pycache__/
*.py[cod]
*.pkl
# Nhưng ngoại lệ: không ignore model.pkl trong streamlit_app
!streamlit_app/credit_card_fraud_detection_rf.pkl
# Jupyter
.ipynb_checkpoints

# Data (nếu dataset nặng)
data/*.csv

# Env
.env
*.env
